table {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
}

th, td {
    padding: 1em;
    border-bottom: 2px solid white;
    text-align: center;
}
th{
    background: #1ea009;
    color: white;
}
td{
    background: white;
}